body{
    padding: 0;
    margin: 0;
    background-color: black;
}

@keyframes wave-x{
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(-200px, 0px);
    }
}

#view{
    border: 4px solid white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: calc(50vh - 200px);
    margin-left: calc(50vw - 100px);
    overflow: hidden;
    transform: rotate(0.0001deg);
    display: none;
}

@keyframes duck-anim {
    0% {
        transform: translate(0px, -5px) rotateZ(0deg);
    }
    50% {
        transform: translate(0px, 0px) rotateZ(5deg);
    }
    100% {
        transform: translate(0px, 5px) rotateZ(-6deg);
    }
}


#ducky{
    position: relative;
    top: 40px;
    left: 100px;
    width: 60px;
    z-index: 1;

    animation-name: duck-anim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

#sea-1-wrapper{
    animation-name: wave-x;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    
    animation-timing-function: linear;
}

#sea-2{
    background-color: #00c4cc;
    height: 200px;
    position: relative;
    top: -8px;
}

@keyframes wave {
    0% {
        transform: translate(0px, 20px);
    }
    50% {
        transform: translate(0px, 0px);
    }
    100% {
        transform: translate(0px, 20px);
    }
}

#elem-container{
    animation-name: wave;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}